.ba-expand-button
{
	background: none;
	border: none;
	border-left: 2px solid gray;
	width: 0px;
	height: 100%;
	padding: 0;
	padding-right: 1.1rem;
	margin-right: -.75rem;

	&:hover
	{
		border-left: 2px solid lightgray;
	}
}
