@using BlazingApple.Components.Reactions
@using BlazingApple.Forums.Components.Shared
@using BlazingApple.Forums.Components.Votes
@using static BlazingApple.Forums.Components.Votes.VoteToggle;
@if (Comment is not null)
{
	<div class="d-flex flex-column">
		<div class="pb-0">
			<CommentHeader Comment="Comment" ChildContent="UserBadgeContent"/>
		</div>
		<div class="d-flex ms-2">
			@if (CommentStyle == Comments.CommentStyle.Hierarchy) {
				<div class="me-2">
					@if (_isExpanded)
					{
						<button type="button" class="ba-expand-button" @onclick="ExpandToggle">
							&nbsp;
						</button>
					}
				</div>
			}
			<div style="width:100%;">
				@if(_isExpanded) {
					<CommentBody @bind-ReplyOpen="_replyOpen" 
						Comment="Comment" 
						VoteStyle="VoteStyle" 
						VoteChanged="VoteChanged"
						AfterCommentSubmitted="AfterCommentSubmittedInternal"
						Reaction="_commentReaction?.Type" 
						ReactionChanged="ReactionChanged" />

					@if(CommentStyle == Comments.CommentStyle.Hierarchy && Comment.Children?.Count > 0)
					{
						<div class="ms-2">
							<PostCommentList Comments="@Comment.Children" CommentStyle="CommentStyle" VoteStyle="VoteStyle" />
						</div>
					}
				}
				else
				{
					<button class="btn btn-outline-primary btn-sm" @onclick="ExpandToggle">
						<i class="fas fa-angle-double-down"></i> Expand
					</button>
				}
			</div>
		</div>
	</div>
}