<div class="d-flex flex-column">
	<div class="d-flex align-items-center">
		<button class="@UpButtonClasses" type="button" @onclick="UpVoteSelected" style="border-radius: 50%; width: 2rem; height: 2rem; transform: rotateZ(-90deg);">
			<span>➜</span>
		</button>
	</div>
	<div class="text-muted" style="color:#D7DADC">
		<span>
			@_upVotes
		</span>
	</div>
	<div class="d-flex align-items-center">
		<button class="@DownButtonClasses" type="button" @onclick="DownVoteSelected" style="border-radius: 50%; width: 2rem; height: 2rem; transform: rotateZ(90deg);">
			<span>➜</span>
		</button>
	</div>
</div>