@using BlazingApple.Forums.Components.Communities
@using BlazingApple.Forums.Components.Posts
@if(Community is not null) {
	<Header>
		@Community.Title
	</Header>

	@if(ChildContent is not null)
	{
		<div>
			@ChildContent
		</div>
	}

	<div class="row">
		<div class="col-lg-9">
			@if(Posts is not null)
			{
				<PostList Posts="Posts" VoteStyle="VoteStyle" />
			}
		</div>
		<div class="col-lg-3">
			<div class="sticky-top">
				@if (Community is not null)
				{
					<AboutCommunity Community="Community" />
				}
			</div>
		</div>
	</div>
}