@using BlazingApple.Forums.Components.Communities

@if(Forum is not null) {
	<Header>
		@Forum.Title
	</Header>

	@if (ChildContent is not null)
	{
		<div class="row">
			<div class="col-lg-12">
				@ChildContent
			</div>
		</div>
	}

	<div class="row">
		<div class="col-lg-9">
			@if(Communities is not null)
			{
				<CommunityList Communities="Communities" />
			}
		</div>
		<div class="col-lg-3">
			<div class="sticky-top">
				@if(Forum is not null)
				{
					<AboutForum Forum="Forum" />
				}
			</div>
		</div>
	</div>
}